# Join the tables

Now we are going to dive into `JOIN` queries to read data from multiple tables.

## Data
We will work with the `ecommerce.sqlite` database available at this URL:
`https://wagon-public-datasets.s3.amazonaws.com/sql_databases/ecommerce.sqlite`

Run the cell below to download the file:

In [ ]:
!curl https://wagon-public-datasets.s3.amazonaws.com/sql_databases/ecommerce.sqlite > data/ecommerce.sqlite

## Database Discovery

You already explored this databasse. Remember you can use the VS Code SQLite extension to explore the database (once you downloaded the database).

- Hit `Ctrl-Shift-P` or `Cmd-Shift-P`
- Start typing until you see `SQLite: Open Database`
- `Enter`
- Select the database file from the dropdown
- In the bottom left corner, click on `SQLITE EXPLORER`

## Setup

Pandas and sqlite3 is all we need :-)

In [ ]:
import pandas as pd
from sqlite3 import connect

## Detailed Orders

üëâ Write a SQL Query to get the customer contact name and the employee first name of all the orders made.

In [ ]:
# Return a list of all orders (order_id, customer.contact_name,
# employee.firstname) ordered by order_id
query_detailed_orders = """
    SELECT "You have to write your query here" AS TODO -- Replace this line by your SQL query
"""

In [ ]:
with connect('data/ecommerce.sqlite') as conn:
    df = pd.read_sql(
        query_detailed_orders,
        con=conn
    )
df.head()

When the result looks like expected, run the following cells to try and test your query.

In [ ]:
from nbresult import ChallengeResult
result = ChallengeResult(
    'detailed_orders',
    query=query_detailed_orders
)
result.write(); print(result.check())

## Spend per Customer

üëâ Write a SQL Query to get the total amount spent per customer - in ascending order. üëå

‚ÑπÔ∏è We won't consider the freight charge here.

In [ ]:
# Return the total amount spent per customer ordered by ascending total
# amount (to 2 decimal places)
# Example :
#     Jean   |   100
#     Marc   |   110
#     Simon  |   432
#     ...
query_spent_per_customer = """
    SELECT "You have to write your query here" AS TODO -- Replace this line by your SQL query
"""

In [ ]:
with connect('data/ecommerce.sqlite') as conn:
    df = pd.read_sql(
        query_spent_per_customer,
        con=conn
    )
df.head()

When the result looks like expected, run the following cells to try and test your query.

In [ ]:
from nbresult import ChallengeResult
result = ChallengeResult(
    'spent_per_customer',
    query=query_spent_per_customer
)
result.write(); print(result.check())

## Who sells the most:

üëâ Write a SQL Query to Implement `best_employee method` to determine who's the best employee! By "best employee", we mean the one who sells the most. üëë

We expect the function to return `'FirstName', 'LastName', 6000 (the sum of all purchases)`. The order of information is irrelevant.

In [ ]:
# Return the best employee! By ‚Äúbest employee‚Äù, we mean the one who sells the most.
# We expect: 'FirstName', 'LastName', 6000 (the sum of all purchase)).
# The order of the information is irrelevant'''
query_best_employee = """
    SELECT "You have to write your query here" AS TODO -- Replace this line by your SQL query
"""

In [ ]:
with connect('data/ecommerce.sqlite') as conn:
    df = pd.read_sql(
        query_best_employee,
        con=conn
    )
df.head()

When the result looks like expected, run the following cells to try and test your query.

In [ ]:
from nbresult import ChallengeResult
result = ChallengeResult(
    'best_employee',
    query=query_best_employee
)
result.write(); print(result.check())

## Who doesn't buy anything?

üëâ Write a SQL Query to get the amount of Orders made by each Customer. As you can guess with the title, you should also display customers with no order!

In [ ]:
# Return a list with the contactName of the customer and the number of orders they made
# (contactName, number_of_orders). Order the list by ascending number of orders'''
query_orders_per_customer = """
    SELECT "You have to write your query here" AS TODO -- Replace this line by your SQL query
"""

In [ ]:
with connect('data/ecommerce.sqlite') as conn:
    df = pd.read_sql(
        query_orders_per_customer,
        con=conn
    )
df.head()

When the result looks like expected, run the following cells to try and test your query.

In [ ]:
from nbresult import ChallengeResult
result = ChallengeResult(
    'orders_per_customer',
    query=query_orders_per_customer
)
result.write(); print(result.check())